<!DOCTYPE html>
<html>
<head>

	
</head>
<body>

	<div class="servicios">
		<h3 class="titulos">Servicios</h3>
	</div>

	<div style="text-align: justify;" class="container">
		<p>En Fuente Vaqueros contamos con una serie de dependencias destinadas a Residencia canina y felina, en la que disponen de 3 metros cuadrados cubiertos y 3 metros cuadrados en el exterior, además de un amplio patio.</p>
	</div>

	     
	<div class="text-content container">

	    <div id="precios">
	        <h5>Precios residencia canina</h5>
	        
	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="perro-photo" style="background-image: url('../../imagenes/muygrande.jpg');"></div>
	            <h3 class="tamaño">Perro muy grande (+25kg)</h3>
	            <div>
	            	<table class="table table-hover text-centered">
						<thead>
							<tr>
								<th>Al día</th>
								<th>+8 Días</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>6€</td>
								<td>5.50€</td>
							</tr>
						</tbody>
					</table>

	            </div>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="perro-photo" style="background-image: url('../../imagenes/grande.jpg');"></div>
	            <h3 class="tamaño">Perro grande (15-25kg)</h3>
	            <div>
	            	<table class="table table-hover text-centered">
						<thead>
							<tr>
								<th>Al día</th>
								<th>+8 Días</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>5€</td>
								<td>4.50€</td>
							</tr>
						</tbody>
					</table>
	            </div>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="perro-photo" style="background-image: url('../../imagenes/mediano.jpg');"></div>
	            <h3 class="tamaño">Perro mediano (8-15kg)</h3>
	            <div>
	            	<table class="table table-hover text-centered">
						<thead>
							<tr>
								<th>Al día</th>
								<th>+8 Días</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>4€</td>
								<td>3.50€</td>
							</tr>
						</tbody>
					</table>
	            </div>
	        </div>
		
	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="perro-photo" style="background-image: url('../../imagenes/pequeño.jpg');"></div>
	            <h3 class="tamaño">Perro pequeño (hasta 8kg)</h3>
	            <div>
	            	<table class="table table-hover text-centered">
						<thead>
							<tr>
								<th>Al día</th>
								<th>+8 Días</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>3€</td>
								<td>2.50€</td>
							</tr>
						</tbody>
					</table>
	            </div>
	        </div>
	    
	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="perro-photo" style="background-image: url('../../imagenes/dosgrandes.jpg');"></div>
	            <h3 class="tamaño">Dos perros (+ 8Kg)</h3>
	            <div>
	            	<table class="table table-hover text-centered">
						<thead>
							<tr>
								<th>Al día</th>
								<th>+8 Días</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>8€</td>
								<td>7.50€</td>
							</tr>
						</tbody>
					</table>
	            </div>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="perro-photo" style="background-image: url('../../imagenes/dospequeños.jpg');"></div>
	            <h3 class="tamaño">Dos perros (hasta 8Kg)</h3>
	            <div>
	            	<table class="table table-hover text-centered">
						<thead>
							<tr>
								<th>Al día</th>
								<th>+8 Días</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>7€</td>
								<td>6.50€</td>
							</tr>
						</tbody>
					</table>
	            </div>
	        </div>   
	    </div>
	</div>


	<div class="text-content container">

	    <div id="precios">
	        <h5>Precios residencia felina</h5>
	      
	        <div class="col-md-6 col-sm-6 col-xs-12">
	            <div class="perro-photo" style="background-image: url('../../imagenes/gato.jpg');"></div>
	            <h3 class="tamaño">Gato</h3>
	            <div class="table table-hover text-centered">
	            	<table class="table table-hover text-centered">
						<thead>
							<tr>
								<th>Al día</th>
								<th>+8 Días</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>2.50€</td>
								<td>2.25€</td>
							</tr>
						</tbody>
					</table>

	            </div>
	        </div>

	        <div class="col-md-6 col-sm-6 col-xs-12">
	            <div class="perro-photo" style="background-image: url('../../imagenes/dosgatos.jpg');"></div>
	            <h3 class="tamaño">Dos gatos</h3>
	            <div class="table table-hover text-centered">
	            	<table class="table table-hover text-centered">
						<thead>
							<tr>
								<th>Al día</th>
								<th>+8 Días</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>4€</td>
								<td>3.50€</td>
							</tr>
						</tbody>
					</table>
	            </div>
	        </div>
	    </div>
	</div>


	<div class="servicios">
		<!-- <h3>Servicio de Escuela Canina y Grupo de Agility</h3>
	 -->
	 <h3 class="titulos">Adiestramiento</h3>
	</div>

	<div style="text-align: center;" class="container">
		<p>Este servicio lo podrán encontrar en nuestras instalaciones de los Llanos de Silva, cerca del embalse de Cubillas, todos los domingos.</p>

		<div class="col-md-6 col-sm-6 col-xs-12">
			<img class="escuela" src="../../imagenes/escuela1.jpg">
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
			<img class="escuela" src="../../imagenes/escuela2.jpg">
		</div>
	</div>

</body>
</html>
