<!DOCTYPE html>
<html>
<head>

</head>
<body>

</body>
<footer class="page-footer">
	<div class="container">
	
			<div style= "margin-bottom: 1em; margin-top: 2em;" class="col-lg-4 col-sm-6 col-sm-12">
					<li class="grey-text text-ligthen-3"><i class="fa fa-phone-square" aria-hidden="true"></i> Teléfono de contacto: 605 26 78 37</li>
					<li class="grey-text text-ligthen-3"> <i class="fa fa-clock-o" aria-hidden="true"></i> Horario de atención al público: 10:00 a 13:30</li>
					<li class="grey-text text-ligthen-3">Martes, domingos y festivos cerrado</li>
					<li class="grey-text text-ligthen-3">Atención telefónica: 12:00 a 13:30</li>
			</div>

			<div style= "margin-bottom: 1em; margin-top: 2em;" class="col-lg-4 col-sm-6 col-sm-12">
				<li class="grey-text text-ligthen-3"><i class="fa fa-map-marker" aria-hidden="true"></i> Dirección:  Carretera de las Islas s/n, Fuente Vaqueros 18340, Granada</li>
				<li><a class="grey-text text-ligthen-3" href="https://www.teaming.net/sociedadprotectoradeanimalesdegranada" target="_blank"><i class="fa fa-credit-card"></i> Haz tu donativo</a></li>
				<li><a class="grey-text text-ligthen-3" href="https://www.facebook.com/Protectora.Animales.Granada/?ref=ts&fref=ts" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Sociedad Protectora de Animales y Plantas</a></li>
			</div>

			<div style= "margin-bottom: 1em; margin-top: 2em;" class="col-lg-4 col-sm-6 col-sm-12">
				<li class="grey-text text-ligthen-3"> Agradecimientos: </li>
				<li><img class="diputacionImg" src="../../imagenes/diputacion.png"></li>
			</div>

	</div>
	<h6 style="padding: 2em">©Sociedad Protectora de Animales y Plantas de Granada 2017</h6>
</footer>
</html>
