<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="text-content container">
		
		<h3 class="titulos">Conócenos</h3>
		<div style="text-align: center;" class="row">
			
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="quienes_somos">
					<h5>¿Quiénes somos?</h5>

					<p style="text-align:justify">La Sociedad Protectora de Animales y Plantas de Granada lleva desde 1945 trabajando en el bienestar de los animales y del medio ambiente en la zona de Granada. Tiene como objetivo principal proteger a los animales por encima de todo. Es un objetivo con el que nacen todas las protectoras de animales, ya que para todas ellas, los derechos de los animales son fundamentales.
					La opción de tener o no una mascota es una decisión libre pero que ha de ser responsable y meditada.
					Otros objetivos son evitar y perseguir el maltrato, fomentar su protección, luchar contra el abandono y promover la adopción, realizar campañas de implantación del microchip, esterilización, etc.
					Adopciones locales y nacionales pero también al extranjero, en dónde muchos de los animales por los que aquí nadie se interesa, encuentran un hogar.</p>

				</div>

				<div class="financiacion">
					<h5>Financiación</h5>
					<p style="text-align: justify;">No contamos con ayuda oficial de ninguna clase. Actualmente nos mantenemos con las cuotas de nuestros socios, ayuda de colaboradores y donaciones en forma de comida, medicamentos y utensilios de veterinaria.
					La SPAP cuenta con trabajadores que se encargan del funcionamiento de las instalaciones y del consultorio, sin embrago, la gran mayoría de actividades y campañas desarrolladas son llevada a cabo por <b>voluntarios</b>, sin los cuales no seríamos capaces de realizarlas. Por tanto, el voluntario es el pilar fundamental de nuestra asociación.
					Desde la tarea más sencilla a la más complicada, <b>tu ayuda es muy importante</b>. Si te gustan los animales y las plantas, y si crees que merece la pena luchar por sus derechos, si piensas que aún queda mucho por hacer, <b>COLABORA CON NOSOTROS</b>.
					Queremos contar contigo y con tus ideas para poder hacer entre todos la realidad del no maltrato animal.</p>

					
				</div>

			</div>

			<div class="col-md-6 col-sm-6 col-xs-12 align-middle">

				<div class="cartel">

					<img class="c1" src="/../../imagenes/about_cartel.jpg">

				</div>
				
			</div>


		</div>

		<div style="text-align: center; margin-top: 5em; margin-bottom: 5em;" class="row">

			<div class="col-md-6 col-sm-6 col-xs-12">

				<div class="cartel2">

					<img class="c2" src="/../../imagenes/instalaciones.jpg">

				</div>
				
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">

				<div class="cartel2">

					<img class="c2" src="/../../imagenes/instalaciones2.jpg">

				</div>
				
			</div>

		</div>

	</div>
</body>
</html>
