<div class="container">
	<div class="col-lg-12">
		<h5 class="row title"> Resumen </h5>
 		
 		<div class="row">

			<div class="col-lg-12 col-md-offset-3">

				<img style="margin-bottom: 8em; width: 800px" class="img-responsive" src="./imagenes/linechart.png" alt="">
			
			</div>
		</div>

		<div class="row">

			<div class="col-lg-6 col-md-12 col-xs-12">
				<img class="img-responsive" src="./imagenes/tareas.png" alt="">

			</div>

        	<div class="col-lg-6 col-md-12 col-xs-12">

        		<img class="img-responsive" src="./imagenes/piechart.png" alt="">

        	</div>

        </div>
        
	</div>

</div>

