.logo{
  height: 3.5em;
}

a{
	color: white !important;
}

a:link{
	text-decoration: none;
	font-size: 16px;
}

.navbar-inverse{
	background-color: #C4D42D !important;
	border-color: #C4D42D !important;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #f9f9f9 !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #a4b410;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	background-color: #a4b410;
}

