
<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <div class="row">
                 <h3 class="titulos">Lista de voluntarios</h3>
            </div>

            <div class="row title">
                <div>
                    <h5 style="float: left;">Listado completo</h5>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-12">
                	
                    <div class="table-responsive">

                        <table *ngIf="array_voluntarios[0]!=undefined"  id="mytable" class="table table-bordred table-hover">
                           
                            <thead>

                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Email</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Móvil</th>
                                <th>Nacimiento</th>
                                <th>Género</th>


                            </thead>
                            <tbody *ngFor="let datos of array_voluntarios[0].docs">


                                <tr>
                                    <td>{{datos.dni}}</td>
                                    <td>{{datos.nombre}}</td>
                                    <td>{{datos.apellidos}}</td>
                                    <td>{{datos.email}}</td>
                                    <td>{{datos.direccion}}</td>
                                    <td>{{datos.telefono}}</td>
                                    <td>{{datos.movil}}</td> 
                                    <td>{{datos.fecha_nacimiento}}</td>      
                                    <td>{{datos.genero}}</td>

                                    <td class="table-actions">

                                        <div class="col-md-6 col-xs-6">
                                            <a class="btn btn-primary btn-block edit" data-toggle="modal" data-target="#editar{{datos.dni}}" (click)="editarVoluntario(datos.dni)">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                         </div>

                                        <div class="col-md-6 col-xs-6">
                                            <a class="btn btn-danger btn-block confirm" data-toggle="modal" data-target="#delete" (click)="borrarVoluntario(datos.dni)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>

                        </table>

                    </div>
              	</div>
         
              	<div class="col-md-6 col-md-offset-4">                        
              		<img *ngIf="array_voluntarios[0]==undefined" src="../imagenes/loader.gif" style="text-align: center;">
              	</div>

            <div *ngIf="array_voluntarios[0]!=undefined">
                
                <div *ngFor="let editar of array_voluntarios[0].docs" class="modal fade" id="editar{{editar.dni}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">

                    <div  class="modal-dialog">
                        <div  class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Editando a: {{editar.dni}} </h4>
                            </div>

                            <div  class="modal-body">
                                <div class="form-group">
                                    <input class="form-control nombre" type="text" value={{editar.nombre}} data-toggle="tooltip" data-placement="right" title="Sólo letras">
                                </div>
                                <div class="form-group">
                                    <input class="form-control apellidos" type="text" value={{editar.apellidos}} data-toggle="tooltip" data-placement="right" title="Sólo letras. Necesarios los dos apellidos" >
                                </div>
                                <div class="form-group">
                                    <input class="form-control email" type="text" value={{editar.email}} data-toggle="tooltip" data-placement="right" title="Introduce algo del tipo  'email@mail.es'"  >
                                </div>
                                <div class="form-group">
                                    <input class="form-control direccion" type="text" value={{editar.direccion}} data-toggle="tooltip" data-placement="right" title="Introduce algo del tipo  'C/.... nº'">
                                </div>
                                <div class="form-group">
                                    <input class="form-control telefono" type="text" value={{editar.telefono}} data-toggle="tooltip" data-placement="right" title="Introduce 9 números">
                                </div>
                                <div class="form-group">
                                    <input class="form-control movil" type="text" value={{editar.movil}} data-toggle="tooltip" data-placement="right" title="Introduce 9 números">
                                </div>
                                <div class="form-group">
                                    <input class="form-control nacimiento" type="date" value={{editar.fecha_nacimiento}}>
                                </div>
                                <div class="form-group">
                                    <select name="genero" value={{editar.genero}} class="form-control genero">
                                        <option value="desconocido">Desconocido</option>
                                        <option value="Hombre">Hombre</option>
                                        <option value="Mujer">Mujer</option>
                                    </select>
                                </div>
                            </div>


                            <div class="modal-footer ">
                                <button type="button" class="btn btn-warning btn-lg update" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="Heading">Eliminar voluntario</h4>
                        </div>
                        <div class="modal-body">

                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> ¿Estás segur@ de que quieres borrar?</div>

                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-success yes" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span>Sí</button>
                            <button type="button" class="btn btn-default no" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade deleted" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Correcto</h4>
                        </div>
                        <div class="modal-body">
                            <p>La baja se ha realizado con éxito</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modified" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Correcto</h4>
                        </div>
                        <div class="modal-body">
                            <p>La modificación se ha realizado con éxito</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>


            <!--  Modal para los datos no correctos -->
            <div class="modal fade nodata" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p>Los datos facilitados no son correctos</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--  MODAL PARA RELLENAR TODOS LOS CAMPOS -->

            <div class="modal fade campos" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p>Debes rellenar todos los campos</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



