
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h3 class="titulos">Galería</h3>
        </div>

        <div class="zoom-gallery">

        <!-- PLUGIN para enlazar un album de facebook con la página -->
        
        	<!--<iframe src="//embedsocial.com/facebook_album/album_photos/464959060223778" width="900" height="1500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria1.jpg">
                    <img class="img-responsive" src="./imagenes/galeria1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria2.jpg">
                    <img class="img-responsive" src="./imagenes/galeria2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria3.jpg">
                    <img class="img-responsive" src="./imagenes/galeria3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria4.jpg">
                    <img class="img-responsive" src="./imagenes/galeria4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria5.jpg">
                    <img class="img-responsive" src="./imagenes/galeria5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria1.jpg">
                    <img class="img-responsive" src="./imagenes/galeria1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria2.jpg">
                    <img class="img-responsive" src="./imagenes/galeria2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria3.jpg">
                    <img class="img-responsive" src="./imagenes/galeria3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria4.jpg">
                    <img class="img-responsive" src="./imagenes/galeria4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria5.jpg">
                    <img class="img-responsive" src="./imagenes/galeria5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria1.jpg">
                    <img class="img-responsive" src="./imagenes/galeria1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="" href="./imagenes/galeria4.jpg">
                    <img class="img-responsive" src="./imagenes/galeria4.jpg">
                </a>
            </div>


    	</div>

    </div>
</div>