<!DOCTYPE html>
<html>
<head>
	
</head>
<body>

	<div class="text-content container">

		<h3 class="titulos">Ayúdanos</h3>
		
		<div style="text-align: center;" class="row">
			
			<div style="padding: 1%" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

				<div class="colabora">

					<img class="cartel_colabora" src="../../imagenes/colabora.jpg">

				</div>

			</div>

		
			<div style="margin-top: 2em" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="socio">
						
						<h5>Hazte socio</h5>

						<p style="text-align: justify;">Necesitamos tu ayuda. Ser socio supone solamente <b>30€ al año</b> y tendrás numerosos <b>beneficios</b> (descuentos en consultas veterinarias, descuentos en servicio de residencia... etc.) y contribuirás a luchar contra el maltrato animal.</p>

						<table class="table table-hover text-centered">
					        <thead>
					          <tr>
					              <th>Banco</th>
					              <th>IBAN</th>
					              <th>BIC</th>
					          </tr>
					        </thead>

					        <tbody>
					          <tr>
					            <td>Banco Mare Nostrum</td>
					            <td>(ES18) 04873234 4520 00004380</td>
					            <td>GBMNESMMXXX</td>
					          </tr>
					        </tbody>
	      				</table>

					</div>
				</div>

				<div class="row">

					<div class="voluntario">
						<h5>Hazte voluntari@</h5>

						<p style="text-align: justify;">Si te gustan los animales y te gusta ayudar, esta es tu oportunidad. Cada <b>sábado</b> abrimos las puertas a nuestros voluntarios, sin los cuales no sería posible continuar nuestra labor. Ayúdalos dándoles cariño, peinándolos, bañándolos, paseándolos... y <b>disfruta</b> de una mañana en contacto con los animales y la naturaleza.</p>

						<blockquote>
  							<p>Lo más satisfactorio en la vida es haber sido capaz de dar una gran parte de uno mismo a los demás</p>
  							<footer>Pierre Teilhard de Chardin</footer>
						</blockquote>

						

						<p style="text-align: justify;">Horario voluntariado: Sábado 10-13:00</p>



					</div>

				


				</div>
			</div>

			<div style="margin-top: 2em" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<div class="row">

					<div class="teamer">
						<h5>Haz tu microdonativo</h5>

						<p style="text-align: justify;">A través de Teaming puedes ayudar a salvar vidas con <b>sólo 1€/mes</b>. Un euro puede parecer poco pero la suma de muchos es lo que hace que, con el tiempo, ¡se recauden grandes cantidades!</p>

						<a href="https://www.teaming.net/sociedadprotectoradeanimalesdegranada" target="_blank"><img class="teaming" src="../../imagenes/teaming.png"></a>

					</div>

				</div>
			</div>

		</div>

	</div>
</body>
</html>
