.info{
	margin:2em;
}

.facebook{
	margin:2em;
}

.imgAsociate{
	text-align: center;
	margin:1.5em;
	margin-top: 2.5em;
}

.prote{
	border-radius: 25px;
	margin-bottom: 3rem;
	text-align: center;
}

#portada{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.carousel{
	margin-bottom: 7em;
}