
<div class="container">
		

	<div class="row">

	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<div class="row">
	        	<h3 class="titulos">Veterinarios</h3>
	        </div>

	        <div class="row title">
	        	<div>
	        		<h5 style="float: left;">Listado veterinarios</h5>
	        	</div>

	        	<button style="float: right;" class="btn btn-warning" data-toggle="modal" data-target="#add" (click)="formulario">Añadir veterinario</button>
	        </div>

	        <div class="row">

		        <div class="col-md-6 col-md-offset-4">                        
              		<img *ngIf="array_veterinarios[0]==undefined" src="../imagenes/loader.gif" style="text-align: center;">
              	</div>

		        <div class="col-md-12">

		        	<div class="table-responsive">
		        		<table *ngIf="array_veterinarios[0]!=undefined" id="mytable" class="table table-bordred table-hover">
			                   
			              	<thead>

			              		<th>DNI</th>
			              		<th>Nombre</th>
			              		<th>Correo</th>
			              		<th>Teléfono</th>
			              		<th>Móvil</th>

			              	</thead>
			              	<tbody *ngFor="let datos of array_veterinarios[0].docs">

			              		<tr>
			              			<td>{{datos.dni}}</td>
			              			<td>{{datos.nombre}}</td>
			              			<td>{{datos.correo}}</td>
			              			<td>{{datos.telefono}}</td>
			              			<td>{{datos.movil}}</td>
			              											
									<td class="table-actions">
	                                    <div class="col-md-6 col-xs-6">
	                                        <a class="btn btn-primary btn-block edit" data-toggle="modal" data-target="#editar{{datos.dni}}" (click)="editarVeterinario(datos.dni)">
	                                            <i class="fa fa-edit"></i>
	                                        </a>
	                                     </div>

	                                    <div class="col-md-6 col-xs-6">
	                                        <a class="btn btn-danger btn-block confirm" data-toggle="modal" data-target="#delete" (click)="borrarVeterinario(datos.dni)">
	                                            <i class="fa fa-trash"></i>
	                                        </a>
	                                    </div>
	                                </td>
			              		</tr>
			              	</tbody>
				        </table>
		        	</div>
		        </div>
	        </div>

	        <div class="row">
	        	<h3 class="titulos">Lista de mascotas</h3>
	        </div>

	        <div class="row title">
	        	<div>
	        		<h5 style="float: left;">Listado datos veterinarios de mascotas</h5>
	        	</div>
	        </div>

			<div class="row">
				
				<div class="col-md-6 col-md-offset-4">                        
              		<img *ngIf="datos_veterinarios_masc[0]==undefined" src="../imagenes/loader.gif" style="text-align: center;">
              	</div>

		        <div class="col-md-12">
		        
		        	<div class="table-responsive">


		              	<table *ngIf="datos_veterinarios_masc[0]!=undefined" id="mytable" class="table table-bordred table-hover">
		                   
			              	<thead>

			              		<th>Nº Chip</th>
			              		<th>Esterilizado</th>
			              		<th>Vacunas</th>
			              		<th>Enfermedades</th>
			              		<th>Régimen Especial</th>
							
			              	</thead>
			              	<tbody>

			              		<tr *ngFor="let datos of datos_veterinarios_masc[0].docs">

			              			<td>{{datos.chip}}</td>
			              			<td>{{datos.esterilizado}}</td>

			              			<td>
			              				<div class="info">
			              					<a (click)="vacunas_mascota(datos.chip)"><i class="fa fa-file-text-o archivo" aria-hidden="true" data-toggle="modal" data-target="#vacunas"></i></a>
			              				</div>
			              			</td>
			              			<td>
			              				<div class="info">
			              					<a (click)="enfermedades_mascota(datos.chip)"><i class="fa fa-file-text-o archivo" aria-hidden="true" data-toggle="modal" data-target="#enfermedades"></i></a>
			              				</div>
			              			</td>
			              			<td>
			              				<div class="info">
			              					<a (click)="regimen_mascota(datos.chip)"><i class="fa fa-file-text-o archivo" aria-hidden="true" data-toggle="modal" data-target="#regimen"></i></a>
			              				</div>
			              			</td>

									<td class="table-actions">
	                                    <div class="col-md-12 col-xs-12">
	                                        <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#edit{{datos.chip}}" (click)="editarMascota(datos.chip)">
                                                <i class="fa fa-edit"></i>
                                            </a>
	               						</div>
	                                    
	                                </td>
			              		</tr>
			          
			              	</tbody>

		              	</table>

		              	<div class="clearfix"></div>

		          	</div>

		     	</div>

		  	</div>


            <div *ngIf="datos_veterinarios_masc[0]!=undefined">
               
               <!-- MODAL PARA EDITAR MASCOTA -->
                <div *ngFor="let editar of datos_veterinarios_masc[0].docs" class="modal fade" id="editar{{editar.chip}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Editando a: {{editar.chip}} </h4>
                            </div>

                             <div  class="modal-body">

		                        <div class="form-group ">
			                        <label class="control-label col-md-12">Enfermedades<br></label>
			                       
			                        <textarea type="text" name="enfermedades" class="form-control enfermedades" value="{{editar.enfermedades}}"></textarea>
			                        
			                    </div>

								<div class="form-group ">
			                        <label class="control-label col-md-12">Vacunas<br></label>
			                    
			                        <textarea type="text" name="vacunas" class="form-control vacunas" value="{{editar.vacunas}}"></textarea>
			                      
			                    </div>

								<div class="form-group ">
			                        <label class="control-label col-md-12">Régimen especial<br></label>
			                        
			                        <textarea type="text" name="regimen" class="form-control regimen" value="{{editar.regimen}}"></textarea>
			                     
			                    </div>

			                    <div class="form-group">
			                    	<label class="control-label col-md-12">Esterilizado<br></label>
									
		           						 <select name="esterilizado"  value="{{editar.esterilizado}}" class="form-control esterilizado">
		                                    <option value="desconocido">Desconocido</option>
		                                    <option value="Sí">Sí</option>
		                                    <option value="No">No</option>
		                                </select>
		        					
		        				</div>

                            </div>

                            <div class="modal-footer ">
                                <button type="button" class="btn btn-warning btn-lg update" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
           
                <!-- ....................................................................................................................... -->

				<!--  MODAL PARA LAS VACUNAS  -->
	        
				<div *ngFor="let vacunas of datos_veterinarios_masc[0].docs" class="modal fade" id="vacunas{{vacunas.chip}}" tabindex="-1" role="dialog" aria-labelledby="vacunas" aria-hidden="true">

					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
								<h4 class="modal-title custom_align" id="Heading">Vacunas puestas</h4>
							</div>
							<div class="modal-body">

								<li>{{vacunas.vacunas}}</li>

							</div>
							<div class="modal-footer ">
								<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cerrar</button>
							</div>
						</div>
						
					</div>
				</div>

				<!-- ....................................................................................................................... -->

				<!-- MODAL PARA ENFERMEDADES -->

				<div *ngFor="let enfermedades of datos_veterinarios_masc[0].docs" class="modal fade" id="enfermedades{{enfermedades.chip}}" tabindex="-1" role="dialog" aria-labelledby="enfermedades" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
								<h4 class="modal-title custom_align" id="Heading">Enfermedades</h4>
							</div>
							<div class="modal-body">

								<li>{{enfermedades.enfermedades}}</li>

							</div>
							<div class="modal-footer ">
								<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cerrar</button>
							</div>
						</div>
						
					</div>
				</div>

				<!-- ....................................................................................................................... -->
				
				<!--  MODAL PARA RÉGIMEN ESPECIAL  -->

				<div *ngFor="let regimen of datos_veterinarios_masc[0].docs" class="modal fade" id="regimen{{regimen.chip}}" tabindex="-1" role="dialog" aria-labelledby="regimen" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
								<h4 class="modal-title custom_align" id="Heading">Régimen especial</h4>
							</div>
							<div class="modal-body">

								<li>{{regimen.regimen}}</li>
							
							</div>
							<div class="modal-footer ">
								<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cerrar</button>
							</div>
						</div>
						
					</div>
				</div>

				<!-- ....................................................................................................................... -->

			</div>

			<!-- MODAL PARA VOLUNTARIO AÑADIDO CORRECTAMENTE -->
			<div class="modal fade added" id="myModal" role="dialog">
				<div class="modal-dialog modal-sm">
            		<div class="modal-content">
            			<div class="modal-header">
            				<button type="button" class="close" data-dismiss="modal">&times;</button>
            				<h4 class="modal-title">Correcto</h4>
            			</div>
            			<div class="modal-body">
            				<p>El registro se ha completado con éxito</p>
            			</div>
            			<div class="modal-footer">
            				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            			</div>
            		</div>
            	</div>
            </div>
			<!-- ....................................................................................................................... -->

 			<!-- MODAL PARA MODIFICACIONES -->

 			<div class="modal fade modified" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Correcto</h4>
                        </div>
                        <div class="modal-body">
                            <p>La modificación se ha realizado con éxito</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
			<!-- ....................................................................................................................... -->

			<!-- MODAL PARA CONFIRMAR LA ELIMINACIÓN  -->
            <div class="modal fade deleted" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Correcto</h4>
                        </div>
                        <div class="modal-body">
                            <p>La baja se ha realizado con éxito</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
			<!-- ....................................................................................................................... -->

			<!-- MODAL PARA ELIMINACIÓN FALLIDA  -->
            <div class="modal fade nodeleted" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">ERROR</h4>
                        </div>
                        <div class="modal-body">
                            <p>Se ha producido un error, inténtelo más tarde</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
			<!-- ....................................................................................................................... -->

			<!-- MODAL PARA BORRAR VETERINARIO  -->

            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="Heading">Eliminar veterinario</h4>
                        </div>
                        <div class="modal-body">

                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> ¿Estás segur@ de que quieres borrar?</div>

                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-success yes" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span>Sí</button>
                            <button type="button" class="btn btn-default no" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                        </div>
                    </div>
                </div>
            </div>
			<!-- ....................................................................................................................... -->
			
			<!-- MODAL PARA AÑADIR A VETERINARIO-->

            <div class="modal fade add" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="Heading">Añadiendo a veterinario </h4>
                        </div>
                        <div  class="modal-body">

                            <div class="form-group">
                            	<div class="col-md-2"><p>DNI:</p></div>
                            	<div class="col-md-10">
                                <input data-toggle="tooltip" data-placement="right" title="Introduce 8 números y 1 letra" class="form-control" id="dni" type="text"  required [(ngModel)]="dni"></div>
                            </div>

                            <div class="form-group">
                            	<div class="col-md-2"><p>Nombre:</p></div>
                            	<div class="col-md-10">
                                <input class="form-control" id="nombre" type="text"  required [(ngModel)]="nombre" data-toggle="tooltip" data-placement="right" title="Sólo letras"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2"><p>Correo</p></div>
                                <div class="col-md-10"><input class="form-control" id="correo" type="text"  required [(ngModel)]="correo" data-toggle="tooltip" data-placement="right" title="Introduce algo del tipo  'email@mail.es'"></div>
                            </div>

                            <div class="form-group">
                            <div class="col-md-2"><p>Teléfono</p></div>
                                <div class="col-md-10"><input class="form-control" id="telefono" type="text" [(ngModel)]="telefono" required data-toggle="tooltip" data-placement="right" title="Introduce 9 números"></div>
                            </div>

                            <div class="form-group">
                            	<div class="col-md-2"><p>Móvil</p></div>
                                <div class="col-md-10"><input class="form-control" id="movil" type="text"  required [(ngModel)]="movil" data-toggle="tooltip" data-placement="right" title="Introduce 9 números"></div>
                            </div>

                        </div>


                        <div class="modal-footer ">
                            <button type="button" class="btn btn-warning btn-lg añadir" style="width: 100%; margin-top: 2em !important;" (click)="addVeterinario()"><span class="glyphicon glyphicon-ok-sign" ></span>Añadir</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ....................................................................................................................... -->

            <!-- MODAL PARA EDITAR A VETERINARIO -->
            <div *ngIf="array_veterinarios[0]!=undefined">
                
                <div *ngFor="let editar of array_veterinarios[0].docs" class="modal fade edit" id="editar{{editar.dni}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">

                    <div  class="modal-dialog">
                        <div  class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Editando a: {{editar.dni}} </h4>
                            </div>

                            <div  class="modal-body">
                                <div class="form-group">
                                    <input class="form-control nombre" type="text" data-toggle="tooltip" data-placement="right" title="Sólo letras" value={{editar.nombre}} >
                                </div>
                                <div class="form-group">
                                    <input class="form-control correo" type="text" value={{editar.correo}} data-toggle="tooltip" data-placement="right" title="Introduce algo del tipo  'email@mail.es'" >
                                </div>
                                <div class="form-group">
                                    <input class="form-control telefono" type="text" value={{editar.telefono}} data-toggle="tooltip" data-placement="right" title="Introduce 9 números">
                                </div>
                                <div class="form-group">
                                    <input class="form-control movil" type="text" value={{editar.movil}} data-toggle="tooltip" data-placement="right" title="Introduce 9 números">
                                </div>
                            </div>


                            <div class="modal-footer ">
                                <button type="button" class="btn btn-warning btn-lg update" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Actualizar</button>
                            </div>
                        </div>
                        <!-- /.modal-content --> 
                    </div>
                    <!-- /.modal-dialog --> 
                </div>
            </div>

            <!-- ....................................................................................................................... -->

            <!--  MODAL PARA RELLENAR TODOS LOS CAMPOS -->

            <div class="modal fade campos" id="myModal" role="dialog">
            	<div class="modal-dialog modal-sm">
            		<div class="modal-content">
            			<div class="modal-header">
            				<button type="button" class="close" data-dismiss="modal">&times;</button>
            				<h4 class="modal-title">Error</h4>
            			</div>
            			<div class="modal-body">
            				<p>Debes rellenar todos los campos</p>
            			</div>
            			<div class="modal-footer">
            				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            			</div>
            		</div>
            	</div>
            </div>

            <!-- ....................................................................................................................... -->

            <!--  Modal para los datos no correctos -->
            <div class="modal fade nodata" id="myModal" role="dialog">
            	<div class="modal-dialog modal-sm">
            		<div class="modal-content">
            			<div class="modal-header">
            				<button type="button" class="close" data-dismiss="modal">&times;</button>
            				<h4 class="modal-title">Error</h4>
            			</div>
            			<div class="modal-body">
            				<p>Los datos facilitados no son correctos</p>
            			</div>
            			<div class="modal-footer">
            				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            			</div>
            		</div>
            	</div>
            </div>

            <!-- ....................................................................................................................... -->
			<!-- Modal para el fallo en base de datos  -->
            <div class="modal fade error" id="myModal" role="dialog">
            	<div class="modal-dialog modal-sm">
            		<div class="modal-content">
            			<div class="modal-header">
            				<button type="button" class="close" data-dismiss="modal">&times;</button>
            				<h4 class="modal-title">Error</h4>
            			</div>
            			<div class="modal-body">
            				<p>Este veterinario ya está registrado. Compruebe de nuevo los datos</p>
            			</div>
            			<div class="modal-footer">
            				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            			</div>
            		</div>
            	</div>
            </div>

            <!-- ....................................................................................................................... -->

	    </div>
	</div>
</div>

