	    <div id="wrapper" class="toggled">


	        <div id="page-content-wrapper">
	            <div class="container-fluid">

	                <div class="row">

	                    <div class="col-lg-12">

	                        <div class="row">

	                        	<h4>Registro de voluntarios</h4>


	                        </div>

	                        <div class="row title">

	                        	<div>
	                        		<h5 style="float: left;">Registro</h5>
	                        	</div>
	                        </div>


                        	<div class="contenido">

								<div class="container">
						            <form class="form-horizontal" role="form">
						                <h2>Nueva Mascota</h2>

					                	<div class="form-group ">
			                        		<label class="control-label col-md-2">Nombre<br></label>
			                        		<div class="col-md-10">
			                            		<input type="text" name="nombre" class="form-control" required>
			                        		</div>
			                    		</div>

					                	<div class="form-group ">
			                        		<label class="control-label col-md-2">NºChip<br></label>
			                        		<div class="col-md-10">
			                            		<input type="text" name="chip" class="form-control" required>
			                        		</div>
			                    		</div>

			                    		<div class="form-group ">
			                        		<label class="control-label col-md-2">Especie<br></label>
			                        		<div class="col-md-10">
			                            		<input type="text" name="especie" class="form-control" required>
			                        		</div>
			                    		</div>

			                    		<div class="form-group ">
			                        		<label class="control-label col-md-2">Raza<br></label>
			                        		<div class="col-md-10">
			                            		<input type="text" name="raza" class="form-control" required>
			                        		</div>
			                    		</div>

										<div class="form-group ">
							       			<label class="control-label col-md-2">Peso</label>
					                        <div class="col-md-10">
					                            <div class="input-group">
					                                <input type="text" name="peso" class="form-control" required>
					                                <span class="input-group-addon">kg</span>
					                            </div>					                         
					                        </div>
					                    </div>

										<div class="form-group ">
							       			<label class="control-label col-md-2">Altura</label>
					                        <div class="col-md-10">
					                            <div class="input-group">
					                                <input type="text" name="altura" class="form-control" required>
					                                <span class="input-group-addon">cm</span>
					                            </div>					                         
					                        </div>
					                    </div>

										<div class="form-group ">
							       			<label class="control-label col-md-2">Largo</label>
					                        <div class="col-md-10">
					                            <div class="input-group">
					                                <input type="text" name="largo" class="form-control" required>
					                                <span class="input-group-addon">cm</span>
					                            </div>					                         
					                        </div>
					                    </div>

			                    		<div class="form-group ">
			                        		<label class="control-label col-md-2">Fecha de Nacimiento<br></label>
			                        		<div class="col-md-10">
			                            		<input type="date" name="nacimiento" class="form-control" required>
			                        		</div>
			                    		</div>

										<div class="form-group ">
					                        <label class="control-label col-md-2">Descripción<br></label>
					                        <div class="col-md-10">
					                            <textarea type="text" name="salud" class="form-control"></textarea>
					                        </div>
					                    </div>

										<div class="form-group ">
					                        <label class="control-label col-md-2">Salud<br></label>
					                        <div class="col-md-10">
					                            <textarea type="text" name="salud" class="form-control"></textarea>
					                        </div>
					                    </div>

					                    <div class="form-group">
					                    	<label class="control-label col-md-2">Estado<br></label>
											<div class="col-md-10">
                           						 <select name="estado" class="form-control">
                                                    <option value="disponible">Disponible</option>
                                                    <option value="reservado">Reservado</option>
                                                    <option value="fallecido">Fallecido</option>
                                                </select>
                        					</div>
                        				</div>

					                    <div class="form-group">
					                    	<label class="control-label col-md-2">Género<br></label>
											<div class="col-md-10">
                           						 <select name="genero" class="form-control">
                                                    <option value="desconocido">Desconocido</option>
                                                    <option value="hembra">Hembra</option>
                                                    <option value="macho">Macho</option>
                                                </select>
                        					</div>
                        				</div>
						            
						                <div class="form-group">
						                    <div class="col-md-10 col-md-offset-2">
						                        <button type="submit" class="btn btn-default btn-block registrar">Registrar</button>
						                    </div>
						                </div>
						            </form> 

						        </div> 

                        	</div>	                        
	                        
	                    </div>

	                </div>

	            </div>
	        </div>


	    </div>