.quienes_somos h5{
	margin:2em;
	margin-bottom: 1.2em;
}

.financiacion h5{
	margin:2em;
	margin-bottom: 1.2em;
}

.cartel{
	vertical-align: middle;
}

.c2{
	border-radius: 20px;
	margin:2em;
}

.c1{
	width: 50%;
	margin-top: 8em;
}

