
<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <div class="row">
                <h3 class="titulos">Lista de mascotas</h3>
            </div>

            <div class="row title">
                <div>
                    <h5 style="float: left;">Listado completo</h5>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-12">
                
                    <div class="table-responsive">
                        
                        <table *ngIf="array_mascotas[0]!=undefined" id="mytable" class="table table-bordred table-hover">
                           
                            <thead>
                                <th>Nº Chip</th>
                                <th>Nombre</th>
                                <th>Especie</th>
                                <th>Raza</th>
                                <th>Género</th>
                                <th>Peso (KG)</th>
                                <th>Largo</th>
                                <th>Alto</th>
                                <th>Estado</th>
                                <th>Nacimiento</th>
                                <th>Descripcion</th>


<!--                            <tr class="filters">
                                    <th><input type="text" class="form-control" placeholder="Nº Chip"></th>
                                    <th><input type="text" class="form-control" placeholder="Nombre"></th>

                                    <th>
                                        <select name="especie" class="form-control">
                                            <option value="cualquiera">Cualquiera</option>
                                            <option value="gato">Gato</option>
                                            <option value="perro">Perro</option>
                                            <option value="roedor">Roedor</option>
                                            <option value="reptil">Reptil</option>
                                        </select>
                                    </th>

                                    <th><select name="genero" class="form-control">
                                            <option value="cualquiera">Cualquiera</option>
                                            <option value="hembra">Hembra</option>
                                            <option value="macho">Macho</option>
                                        </select>
                                    </th>

                                    <th>
                                        <select name="estado" class="form-control">
                                            <option value="cualquiera">Cualquiera</option>
                                            <option value="disponible">Disponible</option>
                                            <option value="reservado">Reservado</option>
                                            <option value="enfermo">Enfermo</option>
                                            <option value="fallecido">Fallecido</option>
                                        </select>
                                    </th>

                                    <th>
                                        <select name="peso" class="form-control">
                                            <option value="cualquiera">Cualquiera</option>
                                            <option value="menos1">&#60; 1 kg</option>
                                            <option value="1a4">De 1 a 4 kg</option>
                                            <option value="4a8">De 4 a 8 kg</option>
                                            <option value="8a15">8kg a 15 kg</option>
                                            <option value="mas15">&#62; 15 kg</option>
                                        </select>
                                    </th>

                                    <th>
                                        <select name="edad" class="form-control">
                                            <option value="cualquiera">Cualquiera</option>
                                            <option value="menos1"> &#60; 1 año </option>
                                            <option value="1a3">De 1 a 3 años</option>
                                            <option value="4a7">De 4 a 7 años</option>
                                            <option value="mas7"> &#62; 7 años</option>
                                        </select>
                                    </th>

                                    <th>
                                        <button type="submit" class="btn btn-block btn-primary">Filtrar</button>
                                    </th>
                                </tr>
 -->

                            </thead>
                            <tbody *ngFor="let datos of array_mascotas[0].docs">

                                <tr>
                                    <td>{{datos.chip}}</td>
                                    <td>{{datos.nombre}}</td>
                                    <td class=especie{{datos.chip}}>{{datos.especie}}</td>
                                    <td>{{datos.raza}}</td>
                                    <td class=genero{{datos.chip}}>{{datos.genero}}</td>
                                    <td>{{datos.peso}}</td>
                                    <td>{{datos.largo}}</td>
                                    <td>{{datos.altura}}</td>
                                    <td class=estado{{datos.chip}}>{{datos.estado}}</td>
                                    <td>{{datos.nacimiento}}</td>  
                                    <td>{{datos.descripcion}}</td>   

                                    <td class="table-actions">
                                        <div class="col-md-6 col-xs-6">
                                            <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#edit{{datos.chip}}" (click)="editarMascota(datos.chip)">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                         </div>
                                        <div class="col-md-6 col-xs-6">
                                            <a class="btn btn-danger btn-block confirm" data-toggle="modal" data-target="#delete" (click)="borrarMascota(datos.chip)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                        <div class="col-md-6 col-md-offset-4">                        
                            <img *ngIf="array_mascotas[0]==undefined" src="../imagenes/loader.gif" style="text-align: center;">
                        </div>

                        <div class="clearfix"></div>
<!--                         <ul class="pagination pull-right">
                            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        </ul> -->

                    </div>

              </div>
          </div>


            <div *ngIf="array_mascotas[0]!=undefined">
               
                <div *ngFor="let editar of array_mascotas[0].docs" class="modal fade" id="editar{{editar.chip}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Editando a: {{editar.chip}} </h4>
                            </div>
                             <div  class="modal-body">

                                <div class="form-group">
                                    <input class="form-control nombre" type="text" value={{editar.nombre}}>
                                </div>

                                <div class="form-group ">
                                    <select name="especie" value={{editar.especie}} class="form-control especie">
                                        <option value="Perro">Perro</option>
                                        <option value="Gato">Gato</option>
                                        <option value="Roedor">Roedor</option>
                                        <option value="Reptil">Reptil</option>
                                        <option value="Ave">Ave</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input class="form-control raza" type="text" value={{editar.raza}} >
                                </div>

                                <div class="form-group">
                                    <select name="genero" value={{editar.genero}} class="form-control genero">
                                        <option value="desconocido">Desconocido</option>
                                        <option value="Hembra">Hembra</option>
                                        <option value="Macho">Macho</option>
                                    </select>
                                </div>

                                <div class="form-group ">                                                                     
                                    <div class="input-group">
                                        <input type="text" name="peso" class="form-control peso" required value="{{editar.peso}}">
                                        <span class="input-group-addon">kg</span>
                                    </div>                                           
                                </div>

                                <div class="form-group ">
                                    <div class="input-group">
                                        <input type="text" name="largo" class="form-control largo" required value="{{editar.largo}}">
                                        <span class="input-group-addon">cm</span>
                                    </div>                                                                  
                                </div>

                                <div class="form-group ">
                                    <div class="input-group">
                                        <input type="text" name="altura" class="form-control altura" required value="{{editar.altura}}">
                                        <span class="input-group-addon">cm</span>
                                    </div>                                           
                                </div>

                                <div class="form-group ">
                                    <input type="date" name="nacimiento" class="form-control nacimiento" required value="{{editar.nacimiento}}">
                                </div>

                                <div class="form-group">
                                    <select name="estado" value="{{editar.estado}}" class="form-control estado">
                                        <option value="Disponible">Disponible</option>
                                        <option value="Reservado">Reservado</option>
                                        <option value="Fallecido">Fallecido</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control descripcion" type="text" value={{editar.descripcion}}></textarea> 
                                </div>

                            </div>


                            <div class="modal-footer ">
                                <button type="button" class="btn btn-warning btn-lg update" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Actualizar</button>
                            </div>
                        </div>
                        <!-- /.modal-content --> 
                    </div>
                    <!-- /.modal-dialog --> 
                </div>
            </div>



            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="Heading">Eliminar mascota</h4>
                        </div>
                        <div class="modal-body">

                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> ¿Estás segur@ de que quieres borrar?</div>

                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-success yes" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span>Sí</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                        </div>
                    </div>
                    <!-- /.modal-content --> 
                </div>
                <!-- /.modal-dialog --> 
            </div>
            
            <div class="modal fade deleted" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Correcto</h4>
                        </div>
                        <div class="modal-body">
                            <p>La baja se ha realizado con éxito</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modified" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Correcto</h4>
                        </div>
                        <div class="modal-body">
                            <p>La modificación se ha realizado con éxito</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



